<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 list">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <span class="titl-page">
              <i class="fa fa-envelope-o"></i>
           پیام های سیستمی
            </span>

          </h2>
          <span class="opreation-icon pull-left" data-toggle="tooltip" title="رفتن به پیام ها">
            <a class="btn btn-default" routerLink="/messaging">
              <i class="fa  fa-arrow-right"></i>
            </a>
          </span>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>{{systemMessage?.body}}</p>
          <div class="row item">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
